<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    {% if message %}
    <div class="message">{{ message }}</div>
    {% endif %}

  <h1>Add New Book</h1>

  <form action="/add_book" method="POST">
    <label for="title">Book Title:</label>
    <input type="text" id="title" name="title" autocomplete="off" required><br><br>

    <select id="author" name="author">
      <option selected disabled>Choose Author</option>
      {% for author in authors %}
      <option value="{{ author.id }}">{{ author.name }}</option>
      {% endfor %}
    </select>
    <a href="/add_author">Add a new author...</a>

    <h4>Additional Book Information</h4>
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn">

    <label for="year">Publication Year:</label>
    <input type="text" id="year" name="year"><br><br>

    <input type="submit" value="Add Book">

  </form>

  </body>
</html>
