<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    {% if message %}
    <div class="message">{{ message }}</div>
    {% endif %}

  <h1>Add New Author</h1>

  <form action="/add_author" method="POST">
    <label for="name">Author Name:</label> 
    <input type="text" id="name" name="name" autocomplete="off" required><br><br>
    
    <label for="birthdate">Birthdate:</label>
    <input type="date" id="birthdate" name="birthdate"><br><br> 
    <label for="date_of_death">Date of Death:</label> 
    <input type="date" id="date_of_death" name="date_of_death"><br><br>
    <input type="submit" value="Add Author"> 
  </form>

  </body>
</html>
