<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body style="padding:10px;">

    <h1>My Books</h1>

    <section>
      <form method="GET">
        <label for="search">Search book titles: </label>
        <input type="text" id="search" name="search">
        <input type="submit" autocomplete="off">
        {% if search %}
        <span class="search-feedback">Searching for: "{{ search }}" ({{ books|length }} results)</span>
        {% endif %}
      </form>
    </section>
    
    <section>
      <div class="book-list book-list-header">
        <div>
          <!-- Cover Image -->
        </div>
        <div>
          <h2><a href=
            "?sort=title&reverse={% if sort=='title' and reverse=='false' %}true{% else %}false{% endif %}"
            >Title</a>
          </h2>
        </div>
        <div>
          <h2><a href=
            "?sort=author&reverse={% if sort=='author' and reverse=='false' %}true{% else %}false{% endif %}"
          >Author</a>
          </h2>
        </div>
        <div>
          <h2><a href=
            "?sort=year&reverse={% if sort=='year' and reverse=='false' %}true{% else %}false{% endif %}"
          >Publication Year</a>
        </div>
        <div>
          <h2>ISBN</h2>
        </div>
      </div>

      {% for book in books %}
      <div class="book-list">
        <div class="cover-img">
          {% if book.image %}
            <img src="{{ book.image }}" alt="{{ book.title }} - Cover">
          {% else %}
            {% if book.isbn %}
            <span>no cover found</span>
            {% endif %}
          {% endif %}
        </div>
        <div>
          <h3>{{ book.title }}</h3>
        </div>
        <div>
          {{ book.author.name }}
        </div>
        <div>
          {{ book.publication_year }}
        </div>
        <div>
          {{ book.isbn }}
        </div>
      </div>
      {% endfor %}
    </section>

  </body>
</html>